<a href="https://colab.research.google.com/github/ValenteHC/Probabilidad--UNIDAD-1/blob/main/Practica_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# PROBABILIDAD Y ESTADISTICA

##UNIDAD 1

###FACILITADOR: Jose Gabriel Rodrigues Rivas

#### Alumno: HERRERA CARRERA VALENTIN

##### **PROGRAMA 3: TABLAS DE FRECUENCIA**

In [21]:
#Basado en el LIBRO estadistica para administracion pagina 12
#creamos una lista vacia que que representa la edad de 100 personas
import random
edades = []
#Hacemos un ciclo para generar 100 numeros aleatorias que representan la edad de las personas
for i in range(100):
  #generamos un numero aleatorio con la funcion ranint y lo guardamos en la variable
  #numero aleatorio
  numero_aleatrio = random.randint(18,65)
  #Agregamos el numero aleatorio a la lista de valores
  edades.append(numero_aleatrio)
print(edades)

[64, 59, 28, 36, 53, 36, 27, 29, 62, 26, 64, 34, 26, 58, 27, 18, 38, 27, 38, 59, 54, 41, 60, 41, 18, 58, 36, 58, 55, 58, 35, 42, 51, 46, 65, 19, 38, 65, 51, 62, 28, 19, 26, 46, 47, 42, 35, 24, 41, 32, 64, 29, 44, 26, 64, 38, 63, 31, 21, 52, 54, 30, 28, 21, 40, 44, 36, 20, 54, 57, 33, 33, 64, 20, 18, 32, 64, 29, 30, 18, 48, 34, 28, 20, 36, 47, 65, 35, 60, 21, 41, 40, 57, 64, 38, 55, 62, 27, 63, 43]

In [22]:
import pandas as pd

In [23]:
#Crear un DataFrame de pandas con los numeros aleatorios
df = pd.DataFrame(edades, columns = ['Edades'])
df.head()

   Edades
0      64
1      59
2      28
3      36
4      53

In [24]:
#Calcular la tabla de distribucion de frecuencias
tabla_frecuencias = df['Edades'].value_counts().reset_index()
tabla_frecuencias.columns = ['Edades','Frecuencia']
tabla_frecuencias = tabla_frecuencias.sort_values(by='Edades')

#Imprimir la tabla de distribucion de frecuencias
print("Tabla de Distribucion de Frecuencias: ")
tabla_frecuencias

Tabla de Distribucion de Frecuencias:

    Edades  Frecuencia
7       18           4
25      19           2
14      20           3
15      21           3
33      24           1
4       26           4
3       27           4
5       28           4
11      29           3
28      30           2
34      31           1
24      32           2
22      33           2
20      34           2
9       35           3
1       36           5
2       38           5
30      40           2
6       41           4
19      42           2
37      43           1
27      44           2
16      46           2
29      47           2
36      48           1
23      51           2
35      52           1
32      53           1
12      54           3
18      55           2
31      57           2
8       58           4
17      59           2
21      60           2
13      62           3
26      63           2
0       64           7
10      65           3

In [25]:
tabla_frecuencias["Frac Relativa"] = tabla_frecuencias["Frecuencia"] / 100
tabla_frecuencias

    Edades  Frecuencia  Frac Relativa
7       18           4           0.04
25      19           2           0.02
14      20           3           0.03
15      21           3           0.03
33      24           1           0.01
4       26           4           0.04
3       27           4           0.04
5       28           4           0.04
11      29           3           0.03
28      30           2           0.02
34      31           1           0.01
24      32           2           0.02
22      33           2           0.02
20      34           2           0.02
9       35           3           0.03
1       36           5           0.05
2       38           5           0.05
30      40           2           0.02
6       41           4           0.04
19      42           2           0.02
37      43           1           0.01
27      44           2           0.02
16      46           2           0.02
29      47           2           0.02
36      48           1           0.01
23      51           2           0.02
35      52           1           0.01
32      53           1           0.01
12      54           3           0.03
18      55           2           0.02
31      57           2           0.02
8       58           4           0.04
17      59           2           0.02
21      60           2           0.02
13      62           3           0.03
26      63           2           0.02
0       64           7           0.07
10      65           3           0.03

In [26]:
tabla_frecuencias["Frac Porcentaje"] = tabla_frecuencias["Frecuencia"] / 100 * 100
tabla_frecuencias

    Edades  Frecuencia  Frac Relativa  Frac Porcentaje
7       18           4           0.04              4.0
25      19           2           0.02              2.0
14      20           3           0.03              3.0
15      21           3           0.03              3.0
33      24           1           0.01              1.0
4       26           4           0.04              4.0
3       27           4           0.04              4.0
5       28           4           0.04              4.0
11      29           3           0.03              3.0
28      30           2           0.02              2.0
34      31           1           0.01              1.0
24      32           2           0.02              2.0
22      33           2           0.02              2.0
20      34           2           0.02              2.0
9       35           3           0.03              3.0
1       36           5           0.05              5.0
2       38           5           0.05              5.0
30      40           2           0.02              2.0
6       41           4           0.04              4.0
19      42           2           0.02              2.0
37      43           1           0.01              1.0
27      44           2           0.02              2.0
16      46           2           0.02              2.0
29      47           2           0.02              2.0
36      48           1           0.01              1.0
23      51           2           0.02              2.0
35      52           1           0.01              1.0
32      53           1           0.01              1.0
12      54           3           0.03              3.0
18      55           2           0.02              2.0
31      57           2           0.02              2.0
8       58           4           0.04              4.0
17      59           2           0.02              2.0
21      60           2           0.02              2.0
13      62           3           0.03              3.0
26      63           2           0.02              2.0
0       64           7           0.07              7.0
10      65           3           0.03              3.0

In [27]:
tabla_frecuencias["Frac Acomulada"] = tabla_frecuencias["Frecuencia"].cumsum()
tabla_frecuencias

    Edades  Frecuencia  Frac Relativa  Frac Porcentaje  Frac Acomulada
7       18           4           0.04              4.0               4
25      19           2           0.02              2.0               6
14      20           3           0.03              3.0               9
15      21           3           0.03              3.0              12
33      24           1           0.01              1.0              13
4       26           4           0.04              4.0              17
3       27           4           0.04              4.0              21
5       28           4           0.04              4.0              25
11      29           3           0.03              3.0              28
28      30           2           0.02              2.0              30
34      31           1           0.01              1.0              31
24      32           2           0.02              2.0              33
22      33           2           0.02              2.0              35
20      34           2           0.02              2.0              37
9       35           3           0.03              3.0              40
1       36           5           0.05              5.0              45
2       38           5           0.05              5.0              50
30      40           2           0.02              2.0              52
6       41           4           0.04              4.0              56
19      42           2           0.02              2.0              58
37      43           1           0.01              1.0              59
27      44           2           0.02              2.0              61
16      46           2           0.02              2.0              63
29      47           2           0.02              2.0              65
36      48           1           0.01              1.0              66
23      51           2           0.02              2.0              68
35      52           1           0.01              1.0              69
32      53           1           0.01              1.0              70
12      54           3           0.03              3.0              73
18      55           2           0.02              2.0              75
31      57           2           0.02              2.0              77
8       58           4           0.04              4.0              81
17      59           2           0.02              2.0              83
21      60           2           0.02              2.0              85
13      62           3           0.03              3.0              88
26      63           2           0.02              2.0              90
0       64           7           0.07              7.0              97
10      65           3           0.03              3.0             100

In [30]:
#Calcular el numero de intervalos utilizando la regla de Sturges
import math
n = len(edades)
K = int(1 + math.log2(n))
print("Valor de n= ", n , "\nNumero de intervalos=", K)

Valor de n=  100
Numero de intervalos= 7